
*{
	padding: 0;
	margin: 0;
	border: 0;
}
*,*:before,*:after{
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}
:focus,:active{outline: none;}
a:focus,a:active{outline: none;}

nav,footer,header,aside{display: block;}

html,body{
	height: 100%;
	width: 100%;
	font-size: 100%;
	line-height: 1;
	font-size: 14px;
	-ms-text-size-adjust: 100%;
	-moz-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
}
input,button,textarea{font-family:inherit;}

input::-ms-clear{display: none;}
button{cursor: pointer;}
button::-moz-focus-inner {padding:0;border:0;}
a, a:visited{text-decoration: none;}
a:hover{text-decoration: none;}
ul li{list-style: none;}
img{vertical-align: top;}

h1,h2,h3,h4,h5,h6{font-size:inherit;font-weight: 400;}
.weather {
	font-family:Arial, Helvetica, sans-serif;
	display: flex;
	background-color:#edeaf1;
	border-radius: 10px;
	padding: 10px 20px 20px 20px;
	

	box-shadow:0 0 10px rgba(0,0,0, 0.3) ;
}
.container{
	
	margin: 0 auto;
	margin-top: 100px;
	display: flex;
	justify-content: center;
	max-width: 200px;
}
.weather__city {
	font-size: 40px;
	font-weight: 700;
	margin-bottom: 15px;
}
.weather__city__section{
	
	font-size: 20px;
	background-color:#f2eff5;
	border:  none;
	}

.weather__status {
	font-size: 20px;
	margin-bottom: 20px;
}
.weather__icon {
	padding: 0 0 0 20px;

}
.weather__temp {
	font-size: 25px;
	font-weight: 700;
	margin-bottom: 10px;
}
.weather__feels_like {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 15px;

}
